<header class="header">
    <div class="container">
        <div class="wrapper">
            <div class="wrap">
                <div class="logo">
                    <a routerLink="/">
                        <img src="{{ logo }}" alt="" />
                    </a>
                </div>
                <div class="subtitle">
                    <p>
                        Аналитика и оцифровка продаж
                        <span class="violet">Wildberries </span>и
                        <span class="blue">Ozon</span>
                    </p>
                </div>
            </div>
            <nav class="nav">
                <div class="nav__item">
                    <a href="#">О нас</a>
                </div>
                <div class="nav__item">
                    <a href="#">Возможности</a>
                </div>
                <div class="nav__item">
                    <a href="#">Тарифы</a>
                </div>
            </nav>
            <div class="user_action">
                <button class="btn login">Вход</button>
                <button routerLink="register" class="btn">
                    Зарегистрироваться
                </button>
            </div>
        </div>
    </div>
</header>
