<!-- Создать всю структуру сайта тут -->
<div class="layout">
    <app-header></app-header>
    <main class="main">
        <div class="section_layout">
            <!-- Hero -->
            <section class="hero">
                <div class="container">
                    <div class="wrapper">
                        <div class="wrapper__item">
                            <div class="hero__title">
                                <h1>
                                    <span class="green"
                                        >Внутренняя аналитика</span
                                    >
                                    <br />
                                    и
                                    <span class="blue">финансовый учёт</span>
                                    для бизнеса на маркетплейсах
                                </h1>
                            </div>
                            <div class="hero__subtitle">
                                <p>
                                    Увеличивай прибыль, автоматизируй рутину и
                                    экономь время на сборе и анализе отчётов
                                </p>
                            </div>
                            <div class="promo">
                                <div class="promo__inner background">
                                    <div class="promo__title">
                                        <p>
                                            Начните свой 3-дневный пробный
                                            период с неограниченным доступом ко
                                            всем возможностям
                                        </p>
                                    </div>
                                    <form action="#" class="promo__form">
                                        <label for="promo"> Промокод </label>
                                        <div class="input_inner">
                                            <input
                                                required="true"
                                                type="text"
                                                name="promo"
                                                id="promo"
                                                placeholder="Введите ваш e-mail" />
                                            <div class="btn">Попробовать</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper__item">
                            <div class="hero__img">
                                <img src="{{ heroImg }}" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="advantages">
                        <div class="advantages__inner wrapper">
                            <div class="advantages__item">
                                <div class="advantages__title">
                                    <h2 class="blue">777</h2>
                                </div>
                                <div class="advantages__subtitle">
                                    <p>
                                        Увеличивай прибыль, автоматизируй рутину
                                        и экономь время на сборе и анализе
                                        отчётов
                                    </p>
                                </div>
                            </div>
                            <div class="advantages__item">
                                <div class="advantages__title">
                                    <h2 class="blue">5</h2>
                                </div>
                                <div class="advantages__subtitle">
                                    <p>
                                        Увеличивай прибыль, автоматизируй рутину
                                        и экономь время на сборе и анализе
                                        отчётов
                                    </p>
                                </div>
                            </div>
                            <div class="advantages__item">
                                <div class="advantages__title">
                                    <h2 class="blue">100 000</h2>
                                </div>
                                <div class="advantages__subtitle">
                                    <p>
                                        Увеличивай прибыль, автоматизируй рутину
                                        и экономь время на сборе и анализе
                                        отчётов
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Possibilities -->
            <section>
                <div class="container">
                    <div class="title">
                        <h2>Возможности сервиса</h2>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <app-footer></app-footer>
</div>
